input[type="text"] {
  width: 100%;
}
.k-inline-checkbox {
  display: inline-flex;
}
.k-input{
  border-radius: 3px 0 0 3px;
  background-color: blue;
}

my-app {
  display: block;
  box-sizing: border-box;
  padding: 30px;
}
my-app > .k-icon.k-i-loading {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import "~igniteui-angular/lib/core/styles/themes/index";

:host {
  ::ng-deep {
    .igx-grid__td {
      color: #b22222;
      font-weight: bold;
    }
    textarea {
      width: 400px;
    }
    .igx-button--flat {
      justify-content: left;
    }

    $new-grid-theme: igx-grid-theme(
      $row-odd-background: rgba(179, 229, 252, 1),
      $row-even-background: rgba(255, 249, 196, 1),
      $row-odd-text-color: rgba(50, 0, 100, 0.74),
      $row-even-text-color: rgba(128, 33, 77, 0.74),
    );

    @include igx-grid($new-grid-theme);
    .igx-grid__th {
      text-align: center;
      color: #000000;
      font-weight: bolder;
      font-size: 10pt;
    }
    .igx-grid__td {
      //color: #b22222;
      color: #000000;
      font-weight: bold;
      font-size: 9pt;
    }
  }
}
